<!-- Navigation bar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Mongo Scraper</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/savedarticles">Saved Articles <span class="sr-only">(current)</span></a></li>
      </ul>
      <form action="/scrape" method="POST" class="navbar-form navbar-left">
        <button type="submit" class="btn btn-default">SCRAPE NEW ARTICLES!</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--End Navigation-->

<!-- Main container -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{#each articles}}
        <div class="panel panel-primary">
          <div class="panel-heading row">
            <div class="col-xs-6">
              <h3 class="panel-title pull-left">{{this.title}}</h3>
            </div>
            <div class="col-xs-3">
              <button id="modalbutton" type="submit" class="btn btn-default pull-right" data-toggle="modal" data-id={{this.id}} data-target="#myModal">ARTICLE NOTES</button>
            </div>
            <div class="col-xs-3">
              <form action="/delete/{{this.id}}?_method=DELETE method="POST">
                <button type="submit" class="btn btn-default pull-right">DELETE FROM SAVED</button>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12>">
              <div class="panel-body">
                <p>{{this.link}}</p>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Notes for Article <span id="articleID"></span></h4>
      </div>
      <div class="modal-body">
        <div id="notes"></div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<!--  -->
<script>
$(document).on("click", "#modalbutton", function() {
  // Empty the notes from the note section
  $("#notes").empty();
  // Save the id from the button tag
  var thisId = $(this).attr("data-id");
  $("#articleID").text(thisId);

  // Now make an ajax call for the Article
  $.ajax({
    method: "GET",
    url: "/articles/" + thisId
  })
    // With that done, add the note information to the page
    .done(function(data) {
      console.log(data);
      // Placeholder for notes
      $("#notes").append("<p id='actualnotes'></p>");
      if (data.notes) {
        $("#actualnotes").append("<ul id='notelist'>");
          for (var i = 0; i < data.notes.length; i++) {
            $('#notelist').append("<li id='" + data.notes[i]._id + "'>" + data.notes[i].body + " " +
            "<button data-id='" + data.notes[i]._id +
            "' id='deletenote'>X</button></li>");
          }
        $('#actualnotes').append("</ul>");
      } else {
        $('#actualnotes').text("There aren't any notes yet.");
      }
      // A textarea to add a new note body
      $("#notes").append("<textarea id='bodyinput' name='body'></textarea>");
      // A button to submit a new note, with the id of the article saved to it
      $("#notes").append("<button data-id='" + data._id + "' id='savenote'>Save Note</button>");
    });
});

// When you click the savenote button
$(document).on("click", "#savenote", function() {
  // Grab the id associated with the article from the submit button
  var thisId = $(this).attr("data-id");
  // Run a POST request to change the note, using what's entered in the inputs
  $.ajax({
    method: "POST",
    url: "/articles/" + thisId,
    data: {
      // Value taken from note textarea
      body: $("#bodyinput").val()
    }
  })
    // With that done
    .done(function(data) {
      $("#notelist").empty();
      for (var i = 0; i < data.notes.length; i++) {
        $("#notelist").append("<li id='" + data.notes[i]._id + "'>" + data.notes[i].body + " " + "<button data-id='" + data.notes[i]._id +
        "' id='deletenote'>X</button></li>");
      }
    });
  // Also, remove the values entered in the input and textarea for note entry
  $("#bodyinput").val("");
});

// When you click the deletenote button
$(document).on("click", "#deletenote", function() {
  // Grab the id associated with the note
  var thisId = $(this).attr("data-id");
  // Run a POST request to delete the note
  $.ajax({
    method: "GET",
    url: "/notes/" + thisId,
  })
    // With that done
    .done(function(data) {
      $("#" + data._id).remove();
    });
});
</script>