html {
	font-size: 12px;
}

li { 
    margin-bottom: 1%;
}

p {
	font-size: 16px;
	margin-left: 1%;
	margin-top: 1%;
}

#bodyinput {
    width: 50%;
}

.jumbotron {
	overflow: hidden;
    background-size: 50%;
    background-position: center;
    background-image: url('../images/newspaper.png');
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
}

.panel-heading.row {
	width: 100%;
    margin-left: 0%;
}

.panel-primary {
    height: 135px;
}

#savenote {
    display: block;
}

/* 
  These rules take effect when the browser's width
  is 640px or less.
*/
@media screen and (max-width: 640px) {
	
}
